body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1924;
  }

  
.chat-container {
    width: 1200px;
    height: 700px;
    overflow-y: auto; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.headerPessoa {
    width: 1190px;
    height: 100px;
    
    
}

.fotoNomeX {
    width: 1190px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fotoNome {
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: white;
    gap: 15px;
}

.nomeOnline {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.online {
    font-size: 13px;
    color: #00B37E;
}

.close button {
    background-color: transparent;
    margin-right: 10px;
    margin-top: -15px;
}


.timeInicial {
    color: white;
    width: 1190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}


.chat-box {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding: 10px;
    overflow-y: auto; 
}


.message {
    color: white;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
.received {
    background-color: #633BBC;
    align-self: flex-start;
}
  
.sent {
    background-color: #07847E;
    color: white;
    align-self: flex-end;
    text-align: right; 
}

.input-container {
    display: flex;
    background-color: transparent;
    padding: 20px;
}

.input-container input {
    background-color: #282843;
    border-radius: 99px;
    border: none;
    color: white;
}

  
input[type="text"] {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
}
  
button {
    position: absolute;
    right: 0;
    margin-right: 40px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
  

.message-content {
    display: flex;
    flex-direction: column;
  }
  
.time {
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
  }

  
@media screen and (max-width: 900px) {
    .message {
        margin-bottom: 15px;
      }

    .timeInicial {
        width: 500px;
    }

}