* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Source Code Pro', monospace;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container {
    width: 736px;
    height: 420px;
    background-color: #374151;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    padding: 32px;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
}

.form {
    width: 50%;
}

.cartao {
    width: 50%;
}

.campos {
    display: flex;
    flex-direction: column;
}

.card2 {
    display: flex;
    width: 100%;
    gap: 15px;
}

.validade {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.cw {
    display: flex;
    flex-direction: column;
    width: 35%;
}

label {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

.input {
    height: 48px;
    width: 328px;
    background-color: #111827;
    color: white;
    border-radius: 4px;
    border: 2px solid #9CA3AF;
    margin-bottom: 12px;
    padding: 0px 0px 0px 15px;
}

.input2 {
    height: 48px;
    background-color: #111827;
    color: white;
    border-radius: 4px;
    border: 1px solid #9CA3AF;
    padding: 0px 0px 0px 15px;
    margin-bottom: 12px;
}

.botao {
    width: 100%;
}

.botao button {
    width: 100%;
    background-color: #9333EA;
    height: 48px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #9CA3AF;
    cursor: pointer;
}

/* Erro */

.error-message {
    color: red;
    display: none;
    font-size: 12px;
    margin-top: -10px;
  }


@media screen and (max-width: 768px) {

    body {
        padding: 50px;
    }

    .container {
        width: 100%; 
        height: auto; 
    }

    .card {
        flex-direction: column; 
        margin-bottom: 24px; 
    }

    .form,
    .cartao {
        width: 100%; 
    }

    .cartao {
        order: -1;
        margin-bottom: 20px;
    }

    .validade {
        width: 100%; 
        margin-bottom: 12px; 
    }

    .cw {
        width: 100%;
    }

    .input,
    .input2 {
        width: 100%;
    }

    .botao button {
        width: 100%; 
    }
}